
li.accordion-item:nth-child(2) {
    padding: 2em;
    background-image: url(https://www.bencardino.com/admin/uploads/alt-optimized-73.jpg);
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;

}
li.accordion-item:nth-child(4) {
    padding: 2em;
    background-image: url(https://www.bencardino.com/admin/uploads/alt-optimized-23.jpg);
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;

}
li.accordion-item:nth-child(6) {
    padding: 2em;
    background-image: url(https://www.bencardino.com/admin/uploads/alt-optimized-43.jpg);
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
    background-size: 100%;

}
@media only screen and (min-width: 0px) and (max-width: 767px) { 

	li.accordion-item:nth-child(2) {
		background-image: none;
    		padding: 2em;
    		background-color: #fff6e6;

	}
	li.accordion-item:nth-child(4) {
		background-image: none;
    		padding: 2em;
    		background-color: #fff6e6;

	}
	li.accordion-item:nth-child(6) {
		background-image: none;
    		padding: 2em;
    		background-color: #fff6e6;

	}
}
li.accordion-item {
    // background: #f5f5f5;
	
}


li.accordion-item {
    padding: 2em;
}
.preview-3 li.accordion-item {
    background: none;
    box-shadow: 0px 0px 1px #000 inset;
    margin: 0px;
}


.capabilities-page-preview .intro-features {
    width: 100%;
    float: left;
    //background: #1278cc;
    //background: #008ab0;
    border-bottom: 1px solid #e6e9ee;
    border-top: 1px solid #e6e9ee;
    margin: 40px 0 0px 0;
    padding: 40px 0 20px 0;
}