
h1,.archive h3, .tags h3,.sidebar h3,#blog .post h1{
	color:#fff;
}
p,.post h6,.category a,.sidebar a,#blog .post p,#blog .post{
	color:#a6aaab;
}
#about,#team,.navbar-default ul.dropdown-menu,#feeds,#pricing{
	background-color:#22282d;
}

.pricing-column{
	border-color:#22282d;
}

#blog{
	background-color:#22282d;
}




#welcome-board,#services,#portfolio,#clients,.date,.promo:before,.ajax-loader{
	background-color:#282f35;
}

#welcome-board h3,#welcome-board p,#services h6,.portfolio-filter li,#portfolio h4,#team a,.client-tweets p,#feeds h4 span,.blog-widget p,.latest-tweet li p,.latest-tweet li a,.portfolio-inner ul,.portfolio-inner a{
	color:#a6aaab;
}
.and:after{
	color:#a6aaab;
}
.post a,.client-tweets a, .top-nav,#clients i,#team h5,#about h4,#feeds h4,.blog-widget a,.follow a,.latest-tweet .timestamp,#feeds h4 i{
	color:#fff;
}
#clients i{
	color:#3dd4ff;
}



.desktopIcon{
	background: url(../img/icons/dark02.png) no-repeat center center;
	width:75px;
	height:80px;
	display:block;
}
.tagsIcon{
	background: url(../img/icons/dark01.png) no-repeat center center;
	width:75px;
	height:80px;
	display:block;
}
.briefcaseIcon{
	background: url(../img/icons/dark03.png) no-repeat center center;
	width:75px;
	height:80px;
	display:block;
}
.clockIcon{
	background: url(../img/icons/dark04.png) no-repeat center center;
	width:75px;
	height:80px;
	display:block;
}
.bagIcon{
	background: url(../img/icons/dark05.png) no-repeat center center;
	width:75px;
	height:80px;
	display:block;
}
.service h6:after{
	content:'';
	background:#cccdcd;
}
.flickr-icon{
	background: url(../img/basic/flickr-dark.png) no-repeat center center;
	height:18px;
	width:26px;
	line-height:24px;
	display:inline-block;
	margin-right:10px;
}
.blog-icon{
	background: url(../img/basic/blog-wid-dark.png) no-repeat center center;
	height:21px;
	width:24px;
	display:inline-block;
	margin-right:10px;
}
