:root {
  --main-bg-color: #ccc;
  --main-txt-color: #000000;  
  --main-padding: 15px;

  --color-green: #5cb85c;
}




.navbar-default {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
    color: var(--main-txt-color);
    font-family: 'DanielsFont', 'Poppins', sans-serif;
}
.navbar-default .navbar-nav>li>a {
    color: var(--main-txt-color);
}

.btn-success {
    color: #fff;
    background-color: var(--color-green);

    border-color: #fff;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #000000;
    background-color: transparent;
}

.event { position: relative; width: 100%; height: 100%; padding-bottom: 20px; display: inline-block; }
.event-info, .event-image { position: relative; display: block; }
.event-info { height: 100%; float: left; width: 44%; }
.event-image { float: right; width: 56%; }
.event-image > img { height: 30%; width: 30%;}


.btn-file { position: relative; overflow: hidden; }

.btn-file input[type=file] { position: absolute; top: 0; right: 0; min-width: 100%; min-height: 100%; font-size: 100px; text-align: right; filter: alpha(opacity=0); opacity: 0; outline: none; background: white; cursor: inherit; display: block; }

input[readonly] { background-color: white !important; cursor: text !important; }

/*iframe{
    height: 500px !important;
}*/

div.buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 5px 0 8px;
}

@media only screen and (min-width : 768px) {
    .is-table-row {
        display: table-row;

    }
    .is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
        height:;
    }
}

.well {

    font-family: "poppins";

}

.well.green {
    background-color: #dff0d8;
    /*border: 2px solid #dff0d8;*/
}
.well.yellow {
    /*background-color: #feffed;
    border: 2px solid #00ff1f;*/
}
.well.red {
    background-color: #fff3f4;
    /*border: 2px solid #fff3f4;*/
}
b.title {
    font-weight: 100;
    font-size: 16px;
    font-family: 'DanielsFont', 'Poppins', sans-serif;
}